.sidebar_tweet {
  background-color: var(
    --twitter-color
  ) !important;
  /* we import bacground color from variable builded in App.css, 
  important sign is there  because we overwright the background color */
  border: none !important;
  color: white !important;
  /* text color */
  font-weight: 900 !important;
  /* makes the text bold */
  text-transform: inherit !important;
  /* gets read of capitalize, transforms the text after original tweet text,
   inherits the value from parent */
  border-radius: 30px !important;
  /* makes the botton corners rounded */
  height: 50px !important;
  /* makes the buttun wider */
  margin-top: 20px !important;
  /* bring the botton more down wrom the last upper element */
}
